@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap"); 
*{
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.principal{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "cab cab cab"
            "cue cue cue"
            "pie pie pie"
            ;
}

.cabeza{
        grid-area: cab;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:  
        "cabimg cabh1"
        "cabimg cabnav"
        ;
        background-color: grey;
}

.headerimage{
            grid-area: cabimg;
            align-self: center;
            margin-left: 7%;
}

.headerimage img{
                border-radius: 3%;
}

.cabeza h1{
            grid-area: cabh1;
            font-family: "Gloria Hallelujah";
            text-align: end;
            font-size: 400%;
            padding-top: 2%;
            padding-right: 8%;
}

.menunav{
            grid-area: cabnav;
            justify-content:end;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            justify-self: center;
}

.menunav a{
            text-decoration: none;
            color: aliceblue;
            font-size: large;
}

.menunav li{
            font-weight: bold;
            list-style-type: none;
            margin: 1%;
}

.cuerpo{
        grid-area: cue;
        background-color: white;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:  
        "cuetext cuetext"
        "cuesel cuetd"
        ;
}

.busqueda__barra{
                grid-area: cuetext;
                display:flex;
                flex-direction: row;
                justify-content: left;
                align-content: space-around;
                padding: 3% 4%;
                
}

.busqueda__barra input{
                        width: 40%;
                        height: 150%;
                        border-style:solid;
                        background-color: aliceblue;
                        font-style: italic;
}



.busqueda__form label{
                        margin-left: 5%;
                        font-size: small;
                        font-weight: bold;
}

.busqueda__form{
                grid-area: cuesel;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-bottom: 20%;

}

.busqueda__select{
                    width: fit-content;
                    font-size: smaller;
                    font-style: italic;
                    align-self: flex-end;
                    margin: 3%;
}


.busqueda__check{
                    font-size:smaller;
                    align-self: flex-end;
                    margin: 3%;
}

.busqueda__button{
                    margin: 3% 2% ;
                    width: 60%;
                    height:max-content;
                    font-weight: bold;
                    align-self: center;
}

.busqueda__results{
                    grid-area: cuetd;
                    display: flex;
                    margin: 0.5%;
                    font-size: large;
                    justify-content: center;
}

.busqueda__results__table{
                            width: 80%;
                            height: 80%;
                            border-style: solid;
                            border: 0.5%;
                            justify-content: center;
                            align-content: center;
                            margin-bottom: 5%;
}

.busqueda__results__table th{
                            border-style:hidden;
                            border: 50%;
                            background: rgb(255,255,255);
                            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%);
                            color: black;
}

.busqueda__results__table td{
                            border-style: hidden;
                            background: rgb(255,255,255);
                            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%);
                            text-align: center;
                            color: grey;
}

.pie{
        grid-area: pie;
        background-color: grey;
        color: aliceblue;
        display: flex;
        align-content: center;
        justify-content: space-around;
        padding: 5%;

}

.pie a{
        text-decoration: none;
        color: aliceblue;
        font-size: large;
}

.whatsapp{
            position:fixed; 
            right:10px; 
            bottom:10px; 
            text-align:center; 
            padding:3px;
}

.principalcontacto{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: auto;
                    grid-template-areas: 
                    "cab cab cab"
                    "cuec cuec cuec"
                    "pie pie pie"
                    ;
}
.cuerpocontacto{
                grid-area:cuec ;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-items: center;
                align-items: center;
}

.cuerpocontacto h2{
                    margin: 3%;
                    font-size: xx-large;
}

.cuerpocontacto label{
                        margin: 2%;
}

.cuerpocontacto form{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-content: space-between;
}

.contacto__inputtext{
                        margin: 2% 0%;
                        font-style: italic;
                        width: 100%;

}

.contacto__textarea{
                    width: 100%;
}

.contacto__button {
                    margin: 3% 2% ;
                    width: 60%;
                    height: 7%;
                    font-weight: bold;
                    align-self: center;
}

.principalnosotros{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: auto;
                    grid-template-areas: 
                    "cab cab cab"
                    ". cuen ."
                    "pie pie pie"
                    ;
}
.cuerponos{
            grid-area: cuen;
            display:flex;
            flex-direction: column;
            align-items: center;
}

.nosotros{
            margin: 2%;
}

.cuerponos p{
                text-align: center;
}

.cuerponos h2{
                text-align: center;
                margin: 4%;
}

.principalvende{
                display: grid;  
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                grid-template-areas: 
                "cab cab cab"
                ". cuev ."
                "pie pie pie"
                ;
}

.cuerpovende{
            grid-area: cuev;
            display: flex;
            flex-direction: column;
            justify-content: center;
}
.cuerpovende h2{
                margin: 4%;
                text-align: center;

}

.cuerpovende form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 2%;
}


.formvende__inputtext{
                    margin: 2% 5% ;
                    width: 400px;
                    height: 35px; 
                    color: black;
}


.formvende__select{
                    margin:1% 0%; 
                    font-size: smaller;
                    font-style: italic;
                    color: black;
}

.formvende__check{
                    margin: 1% 0%;
                    font-size:smaller;
}

.formvende__button{
                    margin: 2%;
                    width: 60%;
                    height: 7%;
                    font-weight: bold;
}

.principalreview{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                grid-template-areas: 
                "cab cab cab"
                "cuer cuer cuer"
                "pie pie pie"
        ;
}

.cuerporeview{
            grid-area: cuer;
            display: flex;
            flex-direction: column;
}

.cuerporeview h2{
                text-align: center;
                margin: 3% 1% 6% 1%;
}

.testers{
            display: flex;
            flex-direction: column;
}
.testers p{
            text-align: center; 
            margin: 2% 1%;
}

.testers h4{
            text-align: center;
            margin: 3% 1%;
}

.testers a{
            text-align: center;

}
.testers img{
            align-self: center;
}

.testers iframe{
                align-self: center;
                margin: 2% 1% ;
}

@media screen and (max-width: 500px) {
    .principal{
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                grid-template-areas: 
                "cab"
                "cue"
                "pie"
                ;
    }
    .principalcontacto{
                        grid-template-columns: 1fr;
                        grid-template-rows: auto;
                        grid-template-areas: 
                        "cab"
                        "cuec"
                        "pie"
                        ;
    }

    .principalnosotros{
                        grid-template-columns: 1fr;
                        grid-template-rows: auto;
                        grid-template-areas: 
                        "cab"
                        "cuen"
                        "pie"
                        ;
        }

    .principalvende{
                    display: grid;
                    grid-template-columns: 1fr ;
                    grid-template-rows: auto;
                    grid-template-areas: 
                    "cab"
                    "cuev"
                    "pie"
                    ;
    }

    .principalreview{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    grid-template-areas: 
                    "cab"
                    "cuer"
                    "pie"
                    ;
    }

    .cabeza{
            display: flex;
            flex-direction: column;
    }
    
    .cabeza h1{
                text-align: center;
    }
    .cuerpo{
            grid-area: cue;
            display: flex;
            flex-direction: column;
    }
    .pie{
            grid-area: pie;
    }
    .busqueda__results__table{
        justify-content: start;
        
}
.busqueda__results__table th{
                                font-size:x-small;
}
.busqueda__results__table td{
                                font-size:x-small;
}
}