.cabeza {
    background-color: grey;
        img {
            margin: 1%;
        }
        h1 {    
            font-family: "Gloria Hallelujah";
            text-align: end;
            font-size: 400%;
            padding-top: 2%;
            padding-right: 2%;
        }
}
.menunav {
    font-weight: bold;
    justify-content: end;
    text-align: end;
}
