.cabeza {
    background-color: grey;
        img {
            margin: map-get($margenes, marg1);
        }
        h1 {    
            font-family: "Gloria Hallelujah";
            text-align: end;
            font-size: 400%;
            padding-top: map-get($margenes, marg2);
            padding-right: map-get($margenes, marg2);
        }
}
.menunav {
    font-weight: bold;
    justify-content: end;
    text-align: end;
}
