.busqueda__form {
    @include dflex(flex, column,wrap)
    justify-content: start;
    align-content: flex-end;
}
.busqueda__barra {
    margin: map-get($margenes, marg3 );
    width: 50%;
}
.busqueda__imagen {
    width: 150px;
    height: 150px;
}
.busquedaresults {
    @include dflex(flex, row,wrap)
    justify-content: space-evenly;
}
.busquedaresults__card {
    margin: map-get($margenes, marg3) map-get($margenes, marg0);
}
