@media screen and (max-width: $tamcel) {
        .busquedaresults {
                flex-direction: column;
        }
}

@media screen and (max-width: $tampad) {
        .busqueda__imagen {
                height: 50px;
                width: 50px;
        }
        .busqueda__barra {
                margin: map-get($margenes, marg1);
                width: auto;
        }
        .busqueda__form {
                text-align: map-get($alinea, centro);
                align-items: map-get($alinea, centro);
                font-size: medium;
        }
        .busqueda__form__select {
                font-size: small;
        }
        .busquedaresults {
                flex-direction: row;
        }
        .menudis {
                @include dflex(flex, row,wrap)
                justify-content: space-around;
                a{
                font-size: small;
                padding: 0rem;
                }
        }
        .headimage {
                @include dflex(flex, column,wrap)
                justify-content: center;
        }
        .formvende__inputtexttext {
                width: 250px;
        }
        .cabeza {
                @include dflex(flex, row,wrap)
                h1 {
                font-size: xx-large;
                }
        }
        .pie {
                justify-content: center;
                justify-items: center;
                justify-self: center;
                text-align: center;
        }

}