.testers {
    display: flex;
    flex-direction: column;
    p {
    text-align: center;
    margin: 2% 1%;
    }
    h4 {
    text-align: center;
    margin: 3% 1%;
    }
    a {
    text-align: center;
    }
    img {
    align-self: center;
    }
    iframe {
    align-self: center;
    margin: 2% 1%;
    }
}