.vende{
    h2 {
    text-align: center;
    margin: 4% 0%;
    }
}

.formvende {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.formvende__inputtext {
    margin: 1% 5%;
    color: black;
    font-size: medium;
}

.formvende__inputtexttext {

    width: 350px;
}

.formvende__select {
    margin: 1% 0%;
    font-size: smaller;
    font-style: italic;
    width: 150px;
    color: black;
}

.formvende__check {
    margin: 1% 0%;
    font-size: smaller;
}